.title {
  color: var(--primary);
  font-weight: 900;
  font-size: var(--title-size);
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0;
}

.productsWrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10vw;
  margin-bottom: 120px;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .title {
    margin: 20px 0;
  }
}
