.title {
  color: var(--primary);
  font-weight: 900;
  font-size: 46px;
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0;
}

.productsWrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10vw;
  margin-bottom: 120px;
}
