.button {
  display: flex;
  padding: 8px 20px;
  width: 180px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  color: var(--main-light-text-color);
  background: transparent;
  border: 2px solid var(--main-light-text-color);
  text-transform: uppercase;
  font-size: inherit;
  cursor: pointer;
  transition: 200ms;
}

.button:hover {
  background-color: var(--main-light-text-color);
  color: var(--main-dark-text-color);
}

.primary {
  color: var(--primary);
  border: 2px solid var(--primary);
}

.primary:hover {
  background-color: var(--primary);
  color: var(--main-light-text-color);
}

.accent {
  color: var(--accent);
  border: 2px solid var(--accent);
}

.accent:hover {
  background-color: var(--accent);
  color: var(--main-light-text-color);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: var(--main-light-text-color);
  color: var(--main-dark-text-color);
}

.disabled .icon {
  filter: invert(16%) sepia(9%) saturate(1340%) hue-rotate(296deg)
    brightness(101%) contrast(90%);
}

.disabled.accent {
  background-color: var(--accent);
  color: var(--main-light-text-color);
}

.disabled.accent .icon {
  filter: invert(100%) sepia(41%) saturate(3191%) hue-rotate(180deg)
    brightness(112%) contrast(110%);
}

.disabled.primary {
  background-color: var(--primary);
  color: var(--main-light-text-color);
}

.disabled.primary .icon {
  filter: invert(100%) sepia(41%) saturate(3191%) hue-rotate(180deg)
    brightness(112%) contrast(110%);
}

.icon {
  filter: invert(100%) sepia(41%) saturate(3191%) hue-rotate(180deg)
    brightness(112%) contrast(110%);
  margin-left: 10px;
  height: 28px !important;
}

.accent .icon {
  filter: invert(74%) sepia(37%) saturate(4044%) hue-rotate(314deg)
    brightness(97%) contrast(101%);
}

.primary .icon {
  filter: invert(60%) sepia(91%) saturate(1609%) hue-rotate(11deg)
    brightness(106%) contrast(97%);
}

.button:hover .icon {
  filter: invert(16%) sepia(9%) saturate(1340%) hue-rotate(296deg)
    brightness(101%) contrast(90%);
}

.accent:hover .icon,
.primary:hover .icon {
  filter: invert(100%) sepia(41%) saturate(3191%) hue-rotate(180deg)
    brightness(112%) contrast(110%);
}

.shiny {
  padding: 14px 24px;
  width: 200px;
  box-shadow: 0px 4px 12px 4px rgba(232, 176, 4, 0.25);
  background-color: var(--primary);
  color: var(--main-light-text-color);
}

.shiny:hover {
  background-color: transparent;
  color: inherit;
  box-shadow: none;
}

.shiny .icon {
  filter: invert(100%) sepia(41%) saturate(3191%) hue-rotate(180deg)
    brightness(112%) contrast(110%);
}

.shiny:hover .icon {
  filter: invert(60%) sepia(91%) saturate(1609%) hue-rotate(11deg)
    brightness(106%) contrast(97%);
}


@media screen and (max-width: 860px) {
  .button {
    width: 140px;
  }
}
