@font-face {
  font-family: "Avenir LT Pro 45 Book";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Pro 45 Book"),
    url("font/AvenirLTProBook.woff") format("woff");
}

/* @font-face {
  font-family: "Avenir LT Pro 45 Book Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Pro 45 Book Oblique"),
    url("font/AvenirLTProBookOblique.woff") format("woff");
}

@font-face {
  font-family: "Avenir LT Pro 55 Roman";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Pro 55 Roman"),
    url("font/AvenirLTProRoman.woff") format("woff");
}

@font-face {
  font-family: "Avenir LT Pro 55 Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Pro 55 Oblique"),
    url("font/AvenirLTProOblique.woff") format("woff");
}

@font-face {
  font-family: "Avenir LT Pro 35 Light";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Pro 35 Light"),
    url("font/AvenirLTProLight.woff") format("woff");
}

@font-face {
  font-family: "Avenir LT Pro 35 Light Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Pro 35 Light Oblique"),
    url("font/AvenirLTProLightOblique.woff") format("woff");
}

*/
@font-face {
  font-family: "Avenir LT Pro 65 Medium";
  font-style: normal;
  font-weight: 700;
  src: local("Avenir LT Pro 65 Medium"),
    url("font/AvenirLTProMedium.woff") format("woff");
}

/*
@font-face {
  font-family: "Avenir LT Pro 65 Medium Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Pro 65 Medium Oblique"),
  url("font/AvenirLTProMediumOblique.woff") format("woff");
}
*/

@font-face {
  font-family: "Avenir LT Pro 85 Heavy";
  font-style: normal;
  font-weight: 900;
  src: local("Avenir LT Pro 85 Heavy"),
    url("font/AvenirLTProHeavy.woff") format("woff");
}
/*

@font-face {
  font-family: "Avenir LT Pro 85 Heavy Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Pro 85 Heavy Oblique"),
    url("font/AvenirLTProHeavyOblique.woff") format("woff");
}

@font-face {
  font-family: "Avenir LT Pro 95 Black";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Pro 95 Black"),
    url("font/AvenirLTProBlack.woff") format("woff");
}

@font-face {
  font-family: "Avenir LT Pro 95 Black Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Pro 95 Black Oblique"),
    url("font/AvenirLTProBlackOblique.woff") format("woff");
} */

:root {
  --main-text-size: 15px;
  --title-text-size: 17px;
  --secondary-text-size: 13px;
  --main-light-text-color: #fff8ea;
  --main-dark-text-color: #402e32;
  --primary: #e8b004;
  --accent: #f97b6d;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-size: var(--main-text-size);
  font-family: "Avenir LT Pro 45 Book";
  letter-spacing: 1.8;
}

*::selection {
  background-color: rgba(232, 176, 4, .4);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  letter-spacing: 1.6px;
}

h1 {
  font-size: 42px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 650px) {
  :root {
    --main-text-size: 18px;
    --secondary-text-size: 16px;
  }

  h1 {
    font-size: 34px;
  }
}
